{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for produit in tout_les_produit %}
			{{ include("produit/list.html.twig") }}
		{% else %}
			<p>no records found</p>

		{% endfor %}
	</div>
{% endblock %}
