@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "~bootstrap/scss/bootstrap";

body {
  background-color: #fff;
}

.nav-link{
  color: #d4af37 !important;
}
a:hover.nav-link{
  color: #8f7c3f !important;
}